---
layout: index
title: Profile
tagline: Youngjung
img : 1.jpg
img-mobile : 1-mobile.jpg
css: profile.css
js: test.js
keywords: yonsei, global, korea, youngjung
canonical: https://youngjung.github.io
---
{% include JB/setup %}

<div id="socialMenu">
	{% include social-block.html %}
</div>

<div id="fullpage">
	<div data-anchor="0section" class="section" id="section0">
  Hi I am Youngjung
  </div>
	<div data-anchor="1section" class="section" id="section1">
aaaa  </div>
	<div data-anchor="2section" class="section" id="section2">
bbbb  </div>
	<div data-anchor="3section" class="section" id="section3">
cccc  </div>
	<div data-anchor="4section" class="section" id="section4">
dddd  </div>
</div>
